/* 
Main page 
*/

html {
    font-size: 20px;
    background-color: white;
}

main {
    display: block;
}

/* 
navigation menu 
*/

nav {
    border: 1px black solid;
    display: flex;
    border-spacing: 5px;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
}

nav li {
    padding-left: 10px;
    padding-right: 10px;
    border: 0.5px red dashed;
}

nav .title {
    margin-right: auto;
    padding: 0px;
}

nav a {
    text-align: center;
    flex-direction: row-reverse;
}

/* 
play button 
*/

.play_button {
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: -20px;
    box-shadow: 0 5px #3232321a, 0 5px 15px #0000001a;
    background: lightgray url(../assets/icons8-play-100.png) center left no-repeat;
    background-size: 40px 40px;
    font-size: 1em;
    text-indent: 40px;

    top: 50%;
    right: 0px;

    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.play_button:hover {
    background-color: grey;
}

.play_button:active {
    transform: translateY(4px);
    box-shadow: 0 5px white;
}

.play_button>img {
    display: inline-block;
    vertical-align: middle;
    align-self: left;
    width: 50px;
    height: 50px;
}

/* 
top rated movie 
*/

#bestMovie {
    border: 1px red solid;
    margin: auto;
    max-width: 1000px;
    max-height: 400px;
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

#bestMovie>.title {
    grid-column: 1/4;
    grid-row: 1;
    background: red;
    align-self: start;
    justify-self: left;
    padding-bottom: -10px;
}

#bestMovie>.picture {
    grid-column: 1;
    grid-row: 2/4;
    padding: 0.2em;
    background: blue;
}

#bestMovie>.play {
    background-color: white;
    grid-column: 2;
    grid-row: 2;
    align-self: right;
}

#bestMovie>.long_description {
    padding: 0.2em;
    grid-column: 2/4;
    grid-row: 3;
    background: purple;
    align-self: last baseline;
}

/* 
carousel mng 
*/
.carousel {
    margin-bottom: 30px;
    overflow: hidden;
}

.carousel__wrapper {
    position: relative;
    box-shadow: 0 5px rgb(0, 26, 255), 0 5px 15px rgb(0, 14, 145);
}

.carousel__container {
    display: flex;
    overflow: hidden;
    padding: 1rem 0;
    align-items: center;
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container:after {
    content: '';
    clear: both;
    display: table;
}

.categorie__title {
    font-size: 1.5em;
}

.carousel__next,
.carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white url(../assets/icons8-double-right-64.png) center center no-repeat;
    background-size: 40px 40px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    box-shadow: 0 5px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__prev {
    right: auto;
    left: 0px;
    background-image: url(../assets/icons8-double-left-64.png);
}

.carousel__next:hover,
.carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev--hidden,
.carousel__next--hidden {
    opacity: 0;
}

.carousel__item {
    float: left;
}

/* 
carousel item element 
*/

.carousel .item {
    margin: 10px;
    /*background-color: white;
    box-shadow: 0 15px #3232321a, 0 5px 15px black;
    */
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);

    position: relative;
    scroll-snap-align: start;
}

.carousel,
.item {
    position: relative;
}

.item:hover {
    transform: translate3d(0, -10px, 0);
}

.card__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
    text-align: center;
    background-color: transparent;
}

/*
.card__img {
    border: 5px green solid;
}
*/

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    justify-content: center;
    box-shadow: 0 15px #3232321a, 0 5px 15px black;
}

/* 
modal box 
*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_container {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    height: auto;
    border: 2px solid black;
    background: lightcoral;
    font-size: 0.8em;
}

/*
modal header
*/

.modal_header {
    position: inherit;
    top: 0px;
}

.modal_title {
    margin: 10px 10px 10px 10px;
    font-size: 1.6em;
    font-weight: bolder;
}

.close_button {
    position: inherit;
    top: 0px;
    right: 0px;

    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;

    box-shadow: 0 5px #3232321a, 0 5px 15px #0000001a;
    background: lightgray url(../assets/icons8-close-48.png) center center no-repeat;
    background-size: 20px 20px;
    font-size: 1em;
    text-indent: 40px;

    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

/*
modal footer
*/

.modal_footer {
    position: inherit;
}

/*
modal body
*/

.modal_body {
    margin-top: 40px;
    display: grid;
    grid-template: "pic table""pic play""descrip descrip";
    grid-gap: 5px;
}

.modal_table {
    justify-content: center;
    grid-area: table;
    margin: 5px;
}

.modal_table td {
    padding: 0px;

}

.modal_button.play_button {
    grid-area: play;
    margin: auto auto auto 1px;
    justify-content: right;
}

.modal_champs {
    text-align: justify;
    margin: 5px;
    grid-area: descrip;
}

.modal_champs.titre {
    margin: 2px;
    text-align: left;
    font-weight: bold;
}

.modal_picture {
    grid-area: pic;
    margin: 0px auto 0px auto;
    padding: 5px;

    justify-content: middle;
    align-items: center;
    width: auto;
    height: auto;
    max-height: 400px;
}