/* 
Main page 
*/

html {
    font-size: 20px;
    background-color: white;
}

main {
    display: block;
}

/* 
navigation menu 
*/

nav {
    border: 1px black solid;
    display: flex;
    border-spacing: 5px;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
}

nav li {
    padding-left: 10px;
    padding-right: 10px;
    border: 0.5px red dashed;
}

nav .title {
    margin-right: auto;
    padding: 0px;
}

nav a {
    text-align: center;
    flex-direction: row-reverse;
}

/* 
play button 
*/

.play_button {
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0 5px black;
    vertical-align: middle;
    text-align: left;
    font-size: 1em;
}

.play_button:hover {
    background-color: grey;
}

.play_button:active {
    transform: translateY(4px);
    box-shadow: 0 5px white;
}

.play_button>img {
    display: inline-block;
    vertical-align: middle;
    align-self: left;
    width: 50px;
    height: 50px;
}

/* 
top rated movie 
*/

#bestMovie {
    border: 1px red solid;
    margin: auto;
    max-width: 1000px;
    max-height: 400px;
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

#bestMovie>.title {
    grid-column: 1/4;
    grid-row: 1;
    background: red;
    align-self: start;
    justify-self: left;
    padding-bottom: -10px;
}

#bestMovie>.picture {
    grid-column: 1;
    grid-row: 2/4;
    padding: 0.2em;
    background: blue;
}

#bestMovie>.play {
    background-color: white;
    grid-column: 2;
    grid-row: 2;
    align-self: right;
}

#bestMovie>.long_description {
    padding: 0.2em;
    grid-column: 2/4;
    grid-row: 3;
    background: purple;
    align-self: last baseline;
}

/* 
carousel mng 
*/
.carousel {
    margin-bottom: 30px;
}

.carousel__wrapper {
    position: relative;
    box-shadow: 0 5px rgb(0, 26, 255), 0 5px 15px rgb(0, 14, 145);
}

.carousel__container {
    display: flex;
    overflow: hidden;
    padding: 1rem 0;
    align-items: center;
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container:after {
    content: '';
    clear: both;
    display: table;
}

.categorie__title {
    font-size: 1.5em;
}

.carousel__next,
.carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white url(../assets/icons8-double-right-64.png) center center no-repeat;
    background-size: 40px 40px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    box-shadow: 0 5px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__prev {
    right: auto;
    left: 0px;
    background-image: url(../assets/icons8-double-left-64.png);
}

.carousel__next:hover,
.carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev--hidden,
.carousel__next--hidden {
    opacity: 0;
}

.carousel__item {
    float: left;
}

/* 
carousel item element 
*/

.carousel .item {
    margin: 10px;
    /*background-color: white;
    box-shadow: 0 15px #3232321a, 0 5px 15px black;
    */
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);

    position: relative;
    scroll-snap-align: start;
}

.carousel,
.item {
    position: relative;
}

.item:hover {
    transform: translate3d(0, -10px, 0);
}

.card__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
    color: black;
    text-align: center;
    background-color: transparent;
}

/*
.card__img {
    border: 5px green solid;
}
*/

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    justify-content: center;
    box-shadow: 0 15px #3232321a, 0 5px 15px black;
}

/* 
popup mng 
*/

.modal {
    visibility: hidden;
}

.modal>table {
    display: fixed;
    top: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    zoom: 1;
    vertical-align: top;
    font-size: 1.5em;
}