/* 
Main page 
*/

html {
    font-size: 20px;
    background-color: white;
}

main {
    display: block;
}

/* 
navigation menu 
*/

nav {
    border: 1px black solid;
    display: flex;
    border-spacing: 5px;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
}

nav li {
    padding-left: 10px;
    padding-right: 10px;
    border: 0.5px red dashed;
}

nav .title {
    margin-right: auto;
    padding: 0px;
}

nav a {
    text-align: center;
    flex-direction: row-reverse;
}

/* 
play button 
*/

.play_button {
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0 5px black;
    vertical-align: middle;
    text-align: left;
    font-size: 1em;
}

.play_button:hover {
    background-color: grey;
}

.play_button:active {
    transform: translateY(4px);
    box-shadow: 0 5px white;
}

.play_button>img {
    display: inline-block;
    vertical-align: middle;
    align-self: left;
    width: 50px;
    height: 50px;
}

/* 
top rated movie 
*/

#bestMovie {
    border: 1px red solid;
    margin: auto;
    max-width: 1000px;
    max-height: 400px;
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

#bestMovie>.title {
    grid-column: 1/4;
    grid-row: 1;
    background: red;
    align-self: start;
    justify-self: left;
    padding-bottom: -10px;
}

#bestMovie>.picture {
    grid-column: 1;
    grid-row: 2/4;
    padding: 0.2em;
    background: blue;
}

#bestMovie>.play {
    background-color: white;
    grid-column: 2;
    grid-row: 2;
    align-self: right;
}

#bestMovie>.long_description {
    padding: 0.2em;
    grid-column: 2/4;
    grid-row: 3;
    background: purple;
    align-self: last baseline;
}

/* 
carousel mng 
*/

.carousel {
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 1rem 0;
    align-items: center;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.categorie_title {
    font-size: 1.5em;
}

.carousel-item {
    flex: 1 0 20vw;
    margin-left: 1em;
    scroll-snap-align: start;
}

.carousel__next,
.carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white url(../assets/icons8-double-right-64.png) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    box-shadow: 0 15px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover,
.carousel__prev:hover {
    transform: scale 1.2%;
}

.carousel__prev {
    right: auto;
    left: -20px;
    background-image: url(../assets/icons8-double-left-64.png);
}

.carousel__prev--hidden {
    opacity: 0;
}

.carousel__next--hidden {
    opacity: 0;
}

.go_right {
    float: right;
}

.got_left {
    float: left;
}

/* 
carousel item element 
*/

.champs-titre {
    color: grey;
}

.carousel__item {}

.card {
    position: relative;
    text-align: center;
}

ul {
    list-style-type: none;
}

.card-title {
    color: white;
    font-size: 1em;
    text-shadow: 0em 0em 0.5em white;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 150%);
}

div[class=card] img {
    max-height: 20vh;
    max-width: 20vw;
    border: 5px green solid;
}

/* 
popup mng 
*/

.modal {
    visibility: hidden;
}

.modal>table {
    display: fixed;
    top: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    zoom: 1;
    vertical-align: top;
    font-size: 1.5em;
}